@media all and (max-width: 700px){

	p{
		margin: 2px;
	}
	footer{
		color: white;
		background-color: gray;
	}
	body{
		background-color: #F2F2F2;
		margin: 0px;
		font-family: 'Roboto', sans-serif;
	}
	.btn{
		height: 60px;
		background-color: white;
		border: 1px solid white;
		box-shadow: 0 0 15px #cccccc;
		border-radius: 14px;
		margin: 21px 0px 21px 0px;
		padding: 10px;
	}

/* margin padding */
	.top_flex, .top_1, .milieu_1, .bas_1, .m{
		margin-left: 15px;
		margin-right: 15px;
	}

/* top */
	header{
		background-color: white;
		background-image: url("images/restaurants/resto_1.jpg");
	}
	#arrow{
		margin: 25px 58px 20px 15px;
		font-size: 20px;
	}
	.logo{
		font-size: 20px;
	}
	.img{
		width: 100%;
	}

	.top_flex{
		padding-top: 10px;
	}

	#heart{
		font-size: 22px;
		position: relative;
		left: 85px;
		top: 12px;
	}
/* txt size */
	.title{
	font-size: 30px;
	margin-bottom: 35px;
	}
	.txt_big{
		font-size: 20px;
	}

/* flex*/

	.top_flex, .mid_flex, .flex{
		display: flex;
	}
	/* mid */

	/*animation slide icone*/
	#price6{
		position: relative;
		left: 25px;
	}
	#price9{
		position: relative;
		left: 20px;
	}
	#price10{
		position: absolute;
		left: 195px;
	}
	.price{
		display: flex;
		margin: 0% 0% 0% 48%;
		padding: 1px;
	}
	.anim{
		display: flex;
		font-size: 20px;
		overflow: hidden;
		transform: translateX(50px);
		transition: transform 700ms ease-in-out;
	}
	.anim:hover{
		background-color: green;
		overflow: visible;
		transform: translateX(-32px);
		transition: transform 700ms ease-in-out;
	}

/* Animation rotation
	.anim{
		transform: rotate(0deg);
	}
	.anim:hover{
		transform: rotate(360deg);
		transition: transform 700ms ease-in-out;
	}
	*/
	.btn_commander{
		border-radius: 50px;
		color: white;
		background-image: linear-gradient(to bottom right, #FF79DA,#9356DC);
		width: 200px;
		margin: 50px auto 70px auto;
		text-align: center;
		padding: 16px 0;
	}

	/* footer */
	footer{
		color: white;
		background-color: gray;
		padding: 25px;
	}
	#utensils{
		margin-right: 13px;
		margin-left: 6px;
		font-size: 13px;
	}
	.footer_title{
		font-family: "Shrikhand", cursive;
		font-size: 1.2em;
   		color: white;
   		font-weight: normal;
   		margin: 0px 4px 14px 4px;
	}
	#helping{
		margin-right: 6px;
		margin-left: 6px;
		font-size: 13px;
		position: relative;
		top: 5px;
	}
}
